//BASE COLORS
$white: #fff;
$black: #000;

//BODY COLORS
$bg-clr: #f8f9fa;

//BUTTON COLORS
$btn-clr: #f23a2e;
$btn-hover-clr: #c7180c;

// CARD COLORS
$cardp-clr: #5c7893;

// PROMO COLOR
$promo-clr: #eec60a;

//TYPOGRAHY COLORS
$paragrapgy-clr: rgba(0, 0, 0, 0.5);
$otherp-clr: rgba(0, 0, 0, 0.4);
$social-links: #656565;

//FOOTER COLOR
$footer-bgclr: rgba(0, 0, 0, 0.8);
$footerP-clr: rgba(255, 255, 255, 0.5);
$footerA-clr: rgba(255, 255, 255, 0.3);
