@use '../abstracts' as *;

.btn {
  @include flex(center, flex-start);
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.9rem;
  color: $btn-clr;
  transition: color 0.3s ease-in;

  span {
    margin-right: 0.5rem;
  }

  &:hover {
    color: $btn-hover-clr;
  }
}
