@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

header {
  .content {
    position: relative;
    padding-top: 1rem;
  }

  .container {
    height: 100%;
  }

  .d-flex {
    @include flex(center, space-between);
    position: relative;
  }
}
