@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

header {
  // background-color: orange;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.3s ease;

  .content {
    position: relative;
    padding: 1rem;
  }

  .container {
    height: 100%;
  }

  .d-flex {
    @include flex(center, space-between);
    position: relative;
  }
}

// header.showBg {
//   background-color: green;
// }
