@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.3s ease;

  .content {
    position: relative;
    padding: 1rem;
  }

  .container {
    height: 100%;
  }

  .d-flex {
    @include flex(center, space-between);
    position: relative;
  }

  &.showBg {
    background-color: $white;
  }
}

// LOGO
.logo {
  a {
    color: $white;
    font-family: $secondary-font;
    font-size: 1.5rem;

    &.color {
      color: $black;
    }
  }
}
